<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="~/css/styles.css">
    @* Below achieves the same as the above *@
    @* <link rel="stylesheet" href="http://localhost:5000/css/styles.css"> *@
</head>

<body>
    <div id="testDivContainer">
        @RenderBody()
        @* <partial name="Footer" /> *@
        @Html.Partial("Footer") 
    </div>
</body>

</html>