@using ToDoList.Models
@model IEnumerable<Customer>

@{
    Layout = null;
}

<table cellpadding="0" cellspacing="0">
    <tr>
        <th>Customer Id</th>
        <th>Name</th>
        <th>Country</th>
    </tr>
    @foreach (Customer customer in Model)
    {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.Name</td>
            <td>@customer.Country</td>
        </tr>
    }
</table>

<div style="margin-top: 100px;">
    <a href='/'>Go back Home</a>
</div>