@using ToDoList.Models
@model IEnumerable<Customer>

@{
    Layout = null;
}

<div style="padding: 100px 100px">
    
    <table cellpadding="5px" cellspacing="15px">
        <tr>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Name</td>
                <td>@customer.Country</td>
            </tr>
        }
    </table>

    <div style="margin-top: 100px;">
        <a href='/'>Go back Home</a>
    </div>

</div>